<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
    <div class="container">
        <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div id="formulario">
                <h1 class="title text-center">LOGIN</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo:</label>
                    <input type="email" class="form-control" placeholder="Correo">
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" placeholder="Password">
                </div>
                <a class="btn btn-primary">INGRESAR</a>   
                <button class="btn btn-primary"><a class="btna" href="/registrarse">OLVIDO SU CONTRASEÑA</a></button>
                <a class="btna" href="/olvidoContraseña">OLVIDO SU CONTRASEÑA</a>
            </div>
        </div>
        <div class="col-sm"></div>
        </div>
    </div>
</body>

